npm-debug.log
.DS_Store

.editorconfig
*.js.map
*.js
hooks/*
!hooks/after-createProject/after-createProject.js
*.css
lib/
node_modules/
platforms/
tmp/
typings/
.idea
.vscode
.cloud
.project
App_Resources/iOS/amplify/*
App_Resources/iOS/*configuration.json

